
body {
  background-color: lightgrey;
  border: solid 1px black;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}


nav {
    display: flex;
    border: solid 1px black;
    background-color: cadetblue;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

nav h1 {
    padding-left: 10px;
    color: azure;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
}

ul {
    display: flex;
    width: 35%;
    justify-content: space-between;
    list-style-type: none;
    font-size: 22px;
    padding-right: 15px;
    color: azure;
    font-weight: 300;
}

.icon-bar {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 45px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-between;
    height: 100px;
}


  .linkedin {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #007bb5;
    color: white;
    height: 50%;
    font-size: 25px;

  }
  
  .github {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background:darkgray;
    color: black;
    height: 50%;
    font-size: 25px;
  }

/* #navLinks {
    display: flex;
    justify-content: ;
    list-style-type: none;
    border: solid 1px black;
    background-color: cadetblue;
    color: azure;
    font-size: 22px;
    font-weight: 300;
    padding-right: 15px; 
} */

/* #navContainer {
    display: flex;
    width: 50%;
    border: solid 1px black;
}  */

/* #navItems {
    display: flex;
} */

#projectsPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25px;
}

.project_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    background-color: azure;
    padding: 8px;
    margin-bottom: 20px;
}

.project_cards h2 {
    text-align: center;
}

.project_cards p {
    text-align: center;
}

.page-footer {
    text-align: center;
}

footer {
    background-color: cadetblue;
    font-size: 18px;
    color: azure;
    height: 40px;
    padding-top: 14px;
}